// Colors
$blue: #0076ff;
$purple: #a74da9;
$red: #ff5152;
$pink: #f94b9d;
$orange: #fc8000;
$yellow: #feb900;
$green: #5fbd3f;
$gray: #8c8c8c;

$gray-900: #8c8c8c;
$gray-800: #989898;
$gray-700: #a3a3a3;
$gray-600: #afafaf;
$gray-500: #bababa;
$gray-400: #c6c6c6;
$gray-300: #d1d1d1;
$gray-200: #dddddd;
$gray-100: #e8e8e8;
$gray-50: #f4f4f4;
$white: #ffffff;
$black: #000000;

$padding-vars: (1: 6px, 2: 12px, 3: 18px, 4: 24px, 5: 30px);